# Web Framework
django>=5.0
djangorestframework
django-environ
django-htmx

# AI & LLM Orchestrationlangchain
langchain
langchain-community
langchain-core
langchain-google-genai
chromadb
pypdf
tiktoken
pytesseract

# Task Queue & Async
celery
redis

# Storage & Production
django-storages[s3]
pysqlite3-binary
boto3
psycopg2-binary
gunicorn

# Utilities
python-dotenv

# Tests
pytest
pytest-django